<FlexboxLayout horizontalAlignment="center" verticalAlignment="center">
    <ActivityIndicator [busy]="loading" class="activity-indicator" loading></ActivityIndicator>
</FlexboxLayout>

<ScrollView orientation="vertical">
    <ListView class="list-group" [items]="issues" (itemTap)="select($event)">
        <ng-template let-issue="item">
            <StackLayout orientation="vertical" class="list-group-item">
                <Label class="fa list-group-item-text"
                       [text]="!!issue['project'] ? issue['project']['presentation'] : ''">
                </Label>
                <FlexboxLayout flexDirection="row" justifyContent="space-between" class="list-group-item-heading">
                    <Label [text]="issue['title']"></Label>
                    <Label *ngIf="!!issuesManager.get(issue['id'])" text="&#xf04b;" class="fa"
                           verticalAlignment="center"></Label>
                </FlexboxLayout>
                <FlexboxLayout flexDirection="row" class="list-group-item-text" alignItems="center">
                    <Label class="fa"
                           [text]="!!issue['timeEstimate'] ? ('Estimate: ' + (issue['timeEstimate'] | duration)) : ''">
                    </Label>
                    <Label *ngIf="!!issue['timeEstimate'] && !!issue['timeSpent']" text=" / "></Label>
                    <Label class="fa"
                           [text]="!!issue['timeSpent'] ? ('Spent: ' + (issue['timeSpent'] | duration)) : ''">
                    </Label>
                </FlexboxLayout>
                <StackLayout *ngIf="!!issue['labels'].length" orientation="horizontal" class="list-group-item-text">
                    <Label *ngFor="let label of issue['labels']" [text]="label.title"
                           label [ngStyle]="{'background-color': label.color}"></Label>
                </StackLayout>
            </StackLayout>
        </ng-template>
    </ListView>
</ScrollView>
