[detail] {
  padding: 10;
  font-size: 20;

  .label {
    margin-bottom: 10;
  }

  [actions] {
    padding: 10;

    .play, .stop {
      width: 100;
      height: 100;
      border-radius: 100;
      font-size: 50;
      vertical-align: middle;
    }
  }
}
