<GridLayout>
    <FlexboxLayout horizontalAlignment="center" verticalAlignment="center">
        <ActivityIndicator [busy]="loading" class="activity-indicator" loading></ActivityIndicator>
    </FlexboxLayout>

    <GridLayout class="page" [class.dialogOpen]="dialogOpen">
        <StackLayout *ngIf="!!issue" orientation="vertical" content>
            <Label [text]="issue.title" title></Label>
            <Label [text]="'Time spent: ' + ((issue.timeSpent | duration) || '&#8212;')" class="label">
            </Label>
            <Label [text]="'Time estimate: ' + ((issue.timeEstimate | duration) || '&#8212;')"
                   class="label">
            </Label>
            <Label [text]="'Timer: ' + (!!working ? spent : '&#8212;')"
                   class="label">
            </Label>
            <FlexboxLayout flexDirection="column" verticalAlignment="top" actions horizontalAlignment="center">
                <Button *ngIf="!working; else stopTemp" text="&#xf04b;" (tap)="play()"
                        class="fa play">
                </Button>
                <ng-template #stopTemp>
                    <Button text="&#xf04d;" (tap)="open()"
                            class="fa stop">
                    </Button>
                </ng-template>
            </FlexboxLayout>
        </StackLayout>

        <AbsoluteLayout class="dialog-wrapper">
            <StackLayout class="dialog">
                <Label class="h3" textWrap="true" text="Stop timer and spend time"></Label>
                <TextField hint="Spend time" [(ngModel)]="spent"></TextField>
                <Button class="btn btn-primary" text="Spend" (tap)="stop()"></Button>
                <Button class="btn btn-outline" text="Cancel" (tap)="cancel()"></Button>
                <Button class="btn btn-outline" text="Clear" (tap)="clear()"></Button>
            </StackLayout>
        </AbsoluteLayout>
    </GridLayout>
</GridLayout>
