<FlexboxLayout class="page">
    <ng-template #load>
        <FlexboxLayout horizontalAlignment="center" verticalAlignment="center">
            <ActivityIndicator [busy]="loading" class="activity-indicator" loading></ActivityIndicator>
        </FlexboxLayout>
    </ng-template>

    <StackLayout *ngIf="!loading; else load" class="form">
        <!--        <Image class="logo" src="~/images/logo.png"></Image>-->
        <Label class="header" text="Team Projector"></Label>

        <StackLayout class="input-field fa">
            <TextField hint="&#xf007; Login" [(ngModel)]="credentials.login"></TextField>
        </StackLayout>

        <StackLayout class="input-field fa">
            <TextField hint="&#xf084; Password" [(ngModel)]="credentials.password"></TextField>
        </StackLayout>

        <Button text="Signin &#xf090;" (tap)="login()" class="fa" login>
        </Button>
    </StackLayout>
</FlexboxLayout>
