.page {
  align-items: center;
  flex-direction: column;
  padding: 20;
}

.form {
  flex-grow: 2;
  vertical-align: middle;
  width: 300;
}

.logo {
  margin-bottom: 12;
  height: 70;
  font-weight: bold;
}

.header {
  horizontal-align: center;
  font-size: 25;
  font-weight: 600;
  margin-bottom: 40;
  text-align: center;
  color: darkgray;
}

.input-field {
  margin-bottom: 25;
}

.input {
  font-size: 18;
  placeholder-color: #A8A8A8;
}

[login] {
  border-radius: 50;
  margin: 10;
}
