<FlexboxLayout class="page" justifyContent="center">
    <ng-template #load>
        <FlexboxLayout alignSelf="center">
            <ActivityIndicator [busy]="loading" class="activity-indicator" loading></ActivityIndicator>
        </FlexboxLayout>
    </ng-template>

    <StackLayout *ngIf="!loading; else load" class="form" alignSelf="stretch">
        <!--        <Image class="logo" src="~/images/logo.png"></Image>-->
        <Label class="header" text="Team Projector"></Label>

        <StackLayout class="input-field fa">
            <TextField hint="&#xf007; Login" [(ngModel)]="credentials.login"
                       returnKeyType="next" (returnPress)="password.focus()">
            </TextField>
        </StackLayout>

        <StackLayout class="input-field fa">
            <TextField #password hint="&#xf084; Password"
                       [(ngModel)]="credentials.password" secure="true"
                       [returnKeyType]="me.logged ? 'done' : 'next'"
                       (returnPress)="confirm.focus()">
            </TextField>
        </StackLayout>

        <StackLayout>
            <Button #confirm text="Signin &#xf090;" (tap)="login()" class="fa btn btn-primary btn-rounded-lg"></Button>
        </StackLayout>
    </StackLayout>
</FlexboxLayout>
