[avatar] {
  border-radius: 100;
  width: 150;
  height: 150;
  border-width: 2;
  border-color: #48b1ec;
  margin: 10;
}

[name] {
  font-size: 24;
}

[label] {
  font-size: 20;
  padding-left: 20;
}

[logout] {
  border-radius: 50;
  margin: 10;
  background-color: whitesmoke;
}
