<GridLayout>
    <GridLayout rows="*,*,60" horizontalAlignment="stretch">
        <StackLayout orientation="vertical">
            <Image [src]="me.user?.avatar" avatar horizontalAlignment="center"></Image>
            <Label [text]="me.user?.name" name horizontalAlignment="center"></Label>
        </StackLayout>

        <StackLayout orientation="vertical" row="1" verticalAlignment="center">
            <Label [text]="'Opened ' + me.user?.metrics.issuesOpenedCount + ' issues'" label></Label>
            <Label [text]="'Payroll closed: ' + me.user?.metrics.payrollClosed + '&#8381;'" label></Label>
            <Label [text]="'Payroll opened: ' + me.user?.metrics.payrollOpened + '&#8381;'" label></Label>
        </StackLayout>

        <Button row="2" text="Logout &#xf08b;" (tap)="logout()" logout class="fa"></Button>
    </GridLayout>
</GridLayout>
